<header>
    <ul id="nav">
        <li id="global_nav_icon">DESK POW</li>
        <li class="global_nav">HOME</li>
        <li class="global_nav">MY PAGE</li>
        <li class="global_nav">POST</li>
        <li class="global_nav">ABOUT</li>
        <li class="global_nav">HELP</li>
        <li class="global_nav">タグを検索</li>
        <li class="global_nav">LOGIN / SIGN UP</li>
    </ul>

</header>
<div id="wrapper">
    <div class="contents">
        <div class="top_contents">
            <h1 style="padding:10px 110px; border-bottom:1px solid rgba(0,0,0,0.15); ">RANKING</h1>
            <div class="top_contents_column">
            <img src="/assets/sample.jpg"  class="top_contents_column_img">
            <img src="/assets/sample.jpg"  class="top_contents_column_user">
            </div>
            <div class="top_contents_column">
                <img src="/assets/sample.jpg"  class="top_contents_column_img">
                <img src="/assets/sample.jpg"  class="top_contents_column_user">
            </div>
            <div class="top_contents_column">
                <img src="/assets/sample.jpg"  class="top_contents_column_img">
                <img src="/assets/sample.jpg"  class="top_contents_column_user">
            </div>
        </div>

        <div class="top_contents">
            <h1 style="padding:10px 110px; border-bottom: 1px solid rgba(0,0,0,0.15); ">HOT USER</h1>
            <div class="top_contents_column">
                <img src="/assets/sample.jpg"  class="top_contents_column_img">
                <img src="/assets/sample.jpg"  class="top_contents_column_user">
            </div>
            <div class="top_contents_column">
                <img src="/assets/sample.jpg"  class="top_contents_column_img">
                <img src="/assets/sample.jpg"  class="top_contents_column_user">
            </div>
            <div class="top_contents_column">
                <img src="/assets/sample.jpg"  class="top_contents_column_img">
                <img src="/assets/sample.jpg"  class="top_contents_column_user">
            </div>
        </div>

        <div class="top_contents">
            <h1 style="padding:10px 110px; border-bottom: 1px solid rgba(0,0,0,0.15); ">HOT TAG</h1>
            <div class="top_contents_column">
                <img src="/assets/sample.jpg"  class="top_contents_column_img">
                <img src="/assets/sample.jpg"  class="top_contents_column_user">
            </div>
            <div class="top_contents_column">
                <img src="/assets/sample.jpg"  class="top_contents_column_img">
                <img src="/assets/sample.jpg"  class="top_contents_column_user">
            </div>
            <div class="top_contents_column">
                <img src="/assets/sample.jpg"  class="top_contents_column_img">
                <img src="/assets/sample.jpg"  class="top_contents_column_user">
            </div>
        </div>
        </div>

    <div class="top_contents_new">
        　　<h1 style="padding:10px 460px; border-bottom: 1px solid rgba(0,0,0,0.15); ">NEW</h1>

        <div class="top_contents_new_first">
            <div class="top_contents_new_column">
                <img src="/assets/sample.jpg" class="top_contents_new_img">
            </div>
            <div class="top_contents_new_column">
                <img src="/assets/sample.jpg" class="top_contents_new_img">
            </div>
            <div class="top_contents_new_column">
                <img src="/assets/sample.jpg" class="top_contents_new_img">
            </div>
        </div>

        <div class="top_contents_new_first">
            <div class="top_contents_new_column">
                <img src="/assets/sample.jpg" class="top_contents_new_img">
            </div>
            <div class="top_contents_new_column">
                <img src="/assets/sample.jpg" class="top_contents_new_img">
            </div>
            <div class="top_contents_new_column">
                <img src="/assets/sample.jpg" class="top_contents_new_img">
            </div>
        </div>

        <div class="top_contents_new_first">
            <div class="top_contents_new_column">
                <img src="/assets/sample.jpg" class="top_contents_new_img">
            </div>
            <div class="top_contents_new_column">
                <img src="/assets/sample.jpg" class="top_contents_new_img">
            </div>
            <div class="top_contents_new_column">
                <img src="/assets/sample.jpg" class="top_contents_new_img">
            </div>
        </div>
    </div>
</div>